.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 100px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;

  + .wrapper {
        margin-left: 8px;
    }
  
    & .disabled {
    pointer-events: none;
    opacity: 0.6;
    }
}
.icon + .title, .title + .icon {
  margin-left: 8px;
}
.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}
.primary {
  background-color: var(--primary-color);
  color: #fff;
    border-color: var(--primary-color);
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      #fe2c55;
  }
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;

  &:hover {
    background: rgba(254, 44, 85, 0.06);
  }
}
.text {
    background-color: transparent;    
    &:hover {
        text-decoration: underline;
    }
}
.rounded {
  border-radius: 24px;
  box-shadow: rgba(254, 44, 85, 0.06);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.small {
  min-width: 88px;
  padding: 4px 16px;
}
.large {
  min-width: 136px;
  padding: 14px 16px;
}
