@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&family=Roboto:wdth@75..100&display=swap');
:root{
    --primary-color: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --black:#000;
    --text-color: #333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    --primary-color: #fe2c55;
    --font-family: 'Open Sans', sans-serif;
    --font-family-alt: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
button, input [tabindex]{
    cursor: pointer;
    border: none;
    outline: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}