@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&family=Roboto:wdth@75..100&display=swap');
:root{
    --primary-color: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --black:#000;
    --text-color: #161823;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    --primary-color: #fe2c55;
    --font-family: 'Open Sans', sans-serif;
    --font-family-alt: 'Roboto', sans-serif;
    font-size: 1.6rem;
    overflow-y: overlay;
}
html *::-webkit-scrollbar { 
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15) ;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15) ;
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color:  rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color:  rgba(0, 0, 0, 0);
}
button, input [tabindex]{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}

body {.tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-content {
        padding: 8px 9px;
    }
}